$mq-desktop-md: "(min-width: 500px)";
$mq-desktop-lg: "(min-width: 860px)";
$background-fundo-default: linear-gradient(to bottom right, rgba(141, 210, 203, 0.95) 22%, rgba(1, 87, 155, 0.86) 100%);
$azul-default: rgb(1, 87, 155);