@mixin formFlex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-flow: column;
    justify-content: center;
}

@mixin personalizaInputField($corDetalhes) {
    .input-field {
        i.prefix {
            margin-top: 10px;
            color: $corDetalhes;
            &.active {
                color: $corDetalhes;
            }
        }
        label {
            color: $corDetalhes;
        }
    }
}

@mixin personalizaInputFocus($corDetalhes) {
    &:focus:not([readonly]) {
        border-bottom: 1px solid $corDetalhes;
        box-shadow: none;
    }
    &:focus:not([readonly])+label {
        color: $corDetalhes;
        font-weight: 300;
    }
}

@mixin personalizaInputLabel($corDetalhes) {
    label {
        color: $corDetalhes;
        font-weight: 300;
        left: 0;
    }
}

@mixin personalizaInput($corDetalhes) {
    color: $corDetalhes;
    font-weight: 600;
    border-bottom: 1px solid $corDetalhes;
}