.signup {
    text-align: center;
    padding-bottom: .5em;
    p {
        margin-top: 4em;
        color: #fff;
        font-weight: 300;
        align-self: center;
        a {
            font-weight: 500;
            color: inherit;
        }
    }
}