#modal-registro {
    height: 60vmax;
    @media #{$mq-desktop-md} {
        width: 30%;
        max-height: 20em;
    }
}

.form-cadastro-ponto {
    padding: 2em !important;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    div {
        width: 100%;
    }
    @media #{$mq-desktop-md} {
        flex-wrap: nowrap;
        justify-content: space-around;
        div {
            margin-right: 1em;
            max-width: 80%;
        }
    }
}

.modal-footer {
    &.salva-deleta {
        display: flex;
        align-content: center;
        justify-content: space-between;
    }
    #btn-deleta-ponto {
        padding: .8em 0 0 0;
        margin-left: .8em;
        -webkit-tap-highlight-color: transparent;
        background-color: transparent;
        border: none;
        i {
            height: 100%;
            color: #c62828;
        }
    }
    &.confirma-exclusao-content {
        display: flex;
        opacity: 0;
        justify-content: space-around;
        z-index: -1;
        transition: all .6s;
    }
    .btn-modal-sim {
        color: white;
    }
}