.form-cad-ponto {
    padding: 30px !important;
}

table.centered tfoot td {
    text-align: center;
}

table.highlight>tbody>tr:hover {
    cursor: pointer;
}

.switch {
    margin-bottom: 30px;
}

.switch label .lever {
    background-color: #84c7c1;
}

.switch label .lever:after {
    background-color: #26a69a;
}

.horaAtiva {
    color: #26a69a;
}

.btn-modal-sim {
    color: white;
}

.email-usuario{
    margin-right: 10px;
}