@import url('desktop.css');

/*Principais*/

body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
}


/*Menu Navegação*/

nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.email-usuario {
    margin-right: 10px;
}


/*Titulo Principal*/

.titulo-aplicacao {
    margin-bottom: 1em;
}


/*Container Principal*/

main {
    margin-bottom: 3em;
}


/*Tabela Pontos*/

#pontosView {
    width: 100%;
    margin-bottom: 3em;
}

table.highlight>tbody>tr:hover {
    cursor: pointer;
}


/*Formulário de buscar pontos main-component-ponto*/

.main-component-ponto {
    display: flex;
    flex-wrap: wrap;
}

.form-busca-pontos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 2em;
    justify-content: center;
    align-items: center;
}

.form-busca-pontos>select {
    margin-bottom: 1em;
    max-width: 80%;
}

.form-busca-pontos>.btn {
    margin-right: 1em;
}


/*MODAL Registro-Ponto*/

#modal-registro {
    height: 60vmax;
}

.form-cadastro-ponto {
    padding: 2em !important;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start
}

.form-cadastro-ponto>div {
    width: 100%;
}

.btn-modal-registro {
    bottom: 20px;
    right: 20px;
}


/*Modal excluir Ponto*/

.btn-modal-sim {
    color: white;
}


/*PRELOADER*/

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    padding: 23%;
    background-color: rgba(0, 0, 0, .2);
    z-index: 9999999;
    display: none;
    text-align: center;
}