#pontosView {
    @include content;
    .table-ponto {
        tbody {
            tr:hover {
                cursor: pointer;
            }
        }
        thead {
            margin: 0;
        }
    }
}