.formulario-autenticacao {
    min-height: 15em;
    @include formFlex;
    form {
        width: 80%;
        input {
            @include personalizaInput($cor-detalhes);
            @include personalizaInputFocus($cor-detalhes);
            @include personalizaInputLabel($cor-detalhes);
        }
        @include personalizaInputField($cor-detalhes);
    }
}

//BTN
.btn-acoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .btn {
        background-color: transparent;
        color: $cor-detalhes;
        border: 1px solid $cor-detalhes;
        transition: background-color .5s, color .5s, border .5s;
        margin: 1em 0;
        width: 100%;
    }
    #btnLoginUser:hover {
        color: #01579b;
        border: 1px solid #01579b;
        background-color: $cor-detalhes;
        border: none;
    }
    #linkForgotPassword {
        color: $cor-detalhes;
        font-weight: 500;
    }
}